nav{
    background:rgba(0,0,0,0.9);
    padding:20px;
    display:flex;
    justify-content:space-between;
    color:#fff;
    position:relative;
    z-index:99;
    
}
.logo{
    font-weight: 600;
    font-size:25px;
    color: tomato;
}
.logo font{
    color:#fff;
}
.menu-list{
    list-style-type:none;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.menu-list li{
    text-decoration:none;
    color:#fff;
    font: weight 300px;
    padding:5p 10px;
    margin-left: 20px;
}
